<div>
  <h1>SpaceX Launch Programs</h1>
  <div class="main_div">
    <div class="filters">
      <strong>Filters</strong>
      <p class="title">Launch Year</p>
      <div *ngIf="years && years.length > 0" class="years_container">
        <div *ngFor="let year of years" class="year_d">
          <a class="capsule" [routerLink]="['']" [queryParams]="{launch_year: year}" queryParamsHandling="merge"
            routerLinkActive="is_active">{{year}}
          </a>
        </div>
      </div>
      <p class="title">Successful Launch</p>
      <div class="true_false">
        <a [routerLink]="['']" [queryParams]="{launch_success: true}" queryParamsHandling="merge"
          routerLinkActive="is_active">True</a>
        <a [routerLink]="['']" [queryParams]="{launch_success: false}" queryParamsHandling="merge"
          routerLinkActive="is_active">False</a>
      </div>

      <p class="title">Successful Landing</p>
      <div class="true_false">
        <a [routerLink]="['']" [queryParams]="{land_success: true}" queryParamsHandling="merge"
          routerLinkActive="is_active">True</a>
        <a [routerLink]="['']" [queryParams]="{land_success: false}" queryParamsHandling="merge"
          routerLinkActive="is_active">False</a>
      </div>
    </div>
    <div class="programs">
      <p class="not_listed" *ngIf="programs && programs.length == 0 && !load">No Programs Listed</p>
      <ng-container *ngIf="programs && programs.length > 0 && !load">
        <div *ngFor="let program of programs" class="program">
          <div class="p_card">
            <div class="img_Container">
              <img [src]="program.links.mission_patch_small" alt="flight">
            </div>
            <p class="id_color">{{program.mission_name}}
              #{{program.flight_number}}</p>
            <ng-container *ngIf="program.mission_id && program.mission_id.length > 0">
              <p>Mission Ids:</p>
              <ul *ngFor="let mId of program.mission_id">
                <li>{{mId}}</li>
              </ul>
            </ng-container>
            <p>Launch Year: <span>{{program.launch_year}}</span>
            </p>
            <p>Successful Launch: <span>{{program.launch_success ? true : false}}</span></p>
            <p>Successful Landing: <span>{{program.launch_landing ? true : false}}</span></p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <h3>Developed by : {{developerName}}</h3>
</div>